.cart__item{
    max-width: 60%;
    padding: 5px 20px;
    margin: 0 auto;
    border-radius: 10px;

    display: flex;
    text-align: center;
    justify-content: center;
}

.cartImg{
    width: 70px;
    margin-right: 20px;
}
.cart__item-info{
    font-family: Bahnschrift, serif;
    color: #181818;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-right: 60px;
    padding-top: 25px;
}

.cart__item-count{
    display: flex;
    margin:0 40px 0 0 ;
}
.cart__item-count-minus{
    margin-right: 20px;
}
.cart-item-count{
    font-size: 20px;
    font-weight: 400;
    padding-top: 25px;
    margin-right: 15px;
}

.cart__item-price{
    font-family: Bahnschrift, serif;
    color: #181818;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-right: 60px;
    padding-top: 25px;
}

.cart__item-count-plus{
    background-color: transparent;
}


.cart__item-count-minus{
    background-color: transparent;
}
.cart__item-remove{
    background-color: transparent ;
}


@media(max-width: 662px){
    .cart__item{
     background-color: rebeccapurple;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .cartImg{
        width: 100px;

    }
    .cart__item-info{
        padding-bottom: 10px;
        margin: 0 auto;
    }
    .cart-item-count{
       padding-top: 0;
    }
    .cart__item-count{
        margin: 0 auto;

    }
    .cart__item-price{
        font-family: Bahnschrift, serif;
        color: #181818;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0 auto;
        padding: 25px 0 10px 0 ;
    }


}